<a href="https://colab.research.google.com/github/igde69/sql_lesson/blob/main/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# # Создание БД
import sqlite3
connection = sqlite3.connect('teatchers.db') # teacher = ошибка на внимание чтобы не спали
cursor = connection.cursor()
query = query = """INSERT INTO Teatcher (Teatcher_Id , Teatcher_Name , School_Id, Joining_Date , Speciality , Salary, Experience)
VALUES
('101', 'Галина', '1', '2021 02 10', ' Физик ', '40000', NULL),
('102', 'Мария', '1', '2018 07 23', ' Химик ', '20000', NULL),
('103', 'Ольга', '2', '2022 05 19', 'Информатик', '25000', NULL),
('104', 'Полина', '2', '2017 12 28', 'Физик ', '28000', NULL),
('105', 'Лидия', '3', '2015 06 04', 'Информатик', '42000', NULL),
('106', 'Анастасия', '3', '2019 09 11', 'Учитель трудов', '30000', NULL),
('107', 'Ирина', '4', '2020 08 21', 'Информатик', '32000', NULL),
('108', 'Виктория', '4', '2017 10 17', 'Географ', '30000', NULL);
"""

cursor.execute(query)
connection.commit()
connection.close()

In [ ]:
# Задача 2. Подключиться к БД и вывести ее версию
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def read_database_version():
  try:
    connection = get_connection()
    cursor = connection.cursor()
    cursor.execute("SELECT sqlite_version();")
    db_version = cursor.fetchone()
    print ("Вы подключились к SQLite версии: ", db_version)
    close_connection(connection)
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)

print ("Задача 2. Подключиться к БД и вывести ее версию")
read_database_version()


# Задача 2. Подключиться к БД и вывести ее версию
# Вы подключились к SQLite версии:  ('3.31.1',)

In [11]:
# Задача 3. Проставить опыт работы всем учителям
import sqlite3
connection = sqlite3.connect('teatchers.db')
cursor = connection.cursor()

update_query ="UPDATE Teatcher SET Experience = 20 WHERE School_Id = 4"
cursor.execute(update_query)
connection.commit()
connection.close()

# скачиваем модернизированную бд и проверяем в https://sqliteonline.com/

In [ ]:
# Задача 4. Вывести данные о школе и учителе, используя идентификатор школы и идентификатор учителя
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_school_detail(school_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(select_query,(school_id,))
    records = cursor.fetchall() # возвращаем все записи
    print ("Данные по школе")
    for row in records:
      print ("ID школы: ", row[0])
      print ("Название школы: ", row[1])
      print ("Количество мест: ", row[2])
    close_connection(connection)
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)
    
    # то же самое по учителям
def get_teatcher_detail(teatcher_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM Teatcher WHERE Teatcher_Id = ?"""
    cursor.execute(select_query,(teatcher_id,))
    records = cursor.fetchall()
    print ("Данные по учителям")
    # print(records) = посмотреть список списков (что внутри records)
    for row in records:
      print ("ID Учителя: ", row[0])
      print ("Имя учителя: ", row[1])
      print ("ID школы: ", row[2])
      print ("Дата начала работы: ", row[3])
      print ("Специализация: ", row[4])
      print ("Зарплата: ", row[5])
      print ("Опыт работы: ", row[6])
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)

print ("Задача 4 Вывести данные по школе и учителю")
get_school_detail(2)
get_teatcher_detail(107)

# Задача 4 Вывести данные по школе и учителю
# Данные по школе
# ID школы:  2
# Название школы:  Преспектива 
# Количество мест:  300
# Данные по учителям
# ID Учителя:  107
# Имя учителя:  Ирина
# ID школы:  4
# Дата начала работы:  2020 08 21
# Специализация:  Информатик
# Зарплата:  32000
# Опыт работы:  20

In [ ]:
# Задача 5. Вывести список учителей по заданной специальности и зарплате
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_specialist_teatchers_list(speciality, salary):
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM Teatcher WHERE Speciality = ? and Salary > ?"""
    cursor.execute(select_query,(speciality, salary))
    records = cursor.fetchall()
    print ("Учителя по специальности", speciality, "и зарплатой больше чем", salary, "\n")
    for row in records:
     print ("ID Учителя: ", row[0])
     print ("Имя учителя: ", row[1])
     print ("ID школы: ", row[2])
     print ("Дата начала работы: ", row[3])
     print ("Специализация: ", row[4])
     print ("Зарплата: ", row[5])
     print ("Опыт работы: ", row[6], "\n")
    
    close_connection(connection)
 
print ("Задача 5 . Вывести список учителей по заданной специальности и зарплате")
get_specialist_teatchers_list("Информатик",30000)

# output

# Задача 5 . Вывести список учителей по заданной специальности и зарплате
# Учителя по специальности Информатик и зарплатой больше чем 30000 

# ID Учителя:  105
# Имя учителя:  Лидия
# ID школы:  3
# Дата начала работы:  2015 06 04
# Специализация:  Информатик
# Зарплата:  42000
# Опыт работы:  15 

# ID Учителя:  107
# Имя учителя:  Ирина
# ID школы:  4
# Дата начала работы:  2020 08 21
# Специализация:  Информатик
# Зарплата:  32000
# Опыт работы:  20

In [ ]:
# Задача 6 . Вывести список учителей по ID школы
import sqlite3

def get_connection():
  connection = sqlite3.connect('teatchers.db')
  return connection

def close_connection(connection):
  if connection:
    connection.close()

def get_school_name(school_id):
  try:
    connection = get_connection()
    cursor = connection.cursor()
    select_query = """SELECT * FROM School WHERE School_Id = ?"""
    cursor.execute(select_query,(school_id,))
    record = cursor.fetchone()
    close_connection(connection)
    return record[1] # возвращаем второй элемент массива
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)


def get_teatcher(school_id):
  try:
    school_name = get_school_name(school_id)
    
    connection = get_connection()
    cursor = connection.cursor()
    sql_select_query = """SELECT * FROM Teatcher WHERE School_Id = ?""" # запрос из другой таблицы
    cursor.execute(sql_select_query, (school_id,))
    records = cursor.fetchall()
    print ("Учителя из школы", school_name)
    for row in records:
      print ("ID Учителя: ", row[0])
      print ("Имя учителя: ", row[1])
      print ("ID школы: ", row[2])
      print ("Название школы: ", school_name)
      print ("Дата начала работы: ", row[3])
      print ("Специализация: ", row[4])
      print ("Зарплата: ", row[5])
      print ("Опыт работы: ", row[6], "\n")
  except (Exception, sqlite3.Erorr) as erorr:
    print ("Ошибка в получении данных", erorr)

print ("Задача 6. Вывести список учителей по ID школы \n")
get_teatcher(1) # вызываем по первой школе

# output

# Задача 6. Вывести список учителей по ID школы 

# Учителя из школы Протон
# ID Учителя:  101
# Имя учителя:  Галина
# ID школы:  1
# Название школы:  Протон
# Дата начала работы:  2021 02 10
# Специализация:   Физик 
# Зарплата:  40000
# Опыт работы:  5 

# ID Учителя:  102
# Имя учителя:  Мария
# ID школы:  1
# Название школы:  Протон
# Дата начала работы:  2018 07 23
# Специализация:   Химик 
# Зарплата:  20000
# Опыт работы:  5